/* Stili Generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  /* DEBUG */
  height: 60px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 6px 10px;
  border: none;
}

h1 {
  font-size: 55px;
  font-weight: 800;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

main {
  width: 58vw;
  margin: 0 auto;
  /* DEBUG */
  height: 750px;
  font-size: 12px;
}

section {
  margin: 50px 0;
}

/* Stile Header */

.header-left, .header-right
 {
  height: 100%;
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
}

/* Stile Jumbotron */

.jumbotron {
  width: 100vw;
  margin: 0 auto;
  background-color: #b4d0e7;
}

.jumbotron-container {
  width: 65vw;
  margin: 0 auto;
}

.jumbo-content {
  display: flex;
}

.jumbo-left {
  width: 60%;
}

.jumbo-right img {
  width: 100%;
}

/* Stile Piani Dropbox */

.plans-in-columns {
  display: flex;
}

.plans-in-columns > section {
  /* DEBUG */
  height: 500px;
  border: 1px solid grey;
  width: 100%;
  margin-right: 40px;
}

.number-of-user {
  border: 1px solid black;
}

.enterptise-team {
  width: calc(58vw - 40px);
  margin-top: 0px;
  /* DEBUG */
  height: 200px;
  border: 1px solid black;
}

.enterprise-top-section {
  display: flex;
  justify-content: space-between;
}

.enterprise-left {
  width: 65%;
}

/* Stile Trova il tuo partner */

.partner-container {
  display: flex;
}

.container-left {
  width: 60%;
}

.container-left img {
  width: 100%;
}

.container-right {
  width: 40%;
}

/* Stile Operazioni con Dropbox Business */

.operations-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc((100% / 3) - 40px);
  margin: 10px 20px;
}

.card img{
  width: 100%;
}