/* Stili Generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  /* DEBUG */
  height: 60px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 6px 10px;
  border: none;
}

h1 {
  font-size: 55px;
  font-weight: 800;
}

h2 {
  font-size: 35px;
  font-weight: 700;
}

main {
  font-size: 12px;
}

section {
  margin: 100px 0;
}

.plans,
.partner,
.dropbox-operations,
.teams h2,
.teams #scopri {
  width: 58vw;
  margin: 0 auto;
}

/* Stile Header */

.header-left, .header-right
 {
  height: 100%;
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
}

/* Stile Jumbotron */

.jumbotron {
  width: 100vw;
  margin: 0 auto;
  background-color: #b4d0e7;
}

.jumbotron-container {
  width: 65vw;
  margin: 0 auto;
}

.jumbo-content {
  display: flex;
}

.jumbo-left {
  width: 60%;
}

.jumbo-right img {
  width: 100%;
}

/* Stile "Piani Dropbox" */


.plans-in-columns {
  display: flex;
}

.plans-in-columns > section {
  /* DEBUG */
  height: 500px;
  border: 1px solid grey;
  width: 100%;
  margin-right: 40px;
}

.number-of-user {
  border: 1px solid black;
}

.enterptise-team {
  width: calc(58vw - 40px);
  margin-top: 0px;
  /* DEBUG */
  height: 200px;
  border: 1px solid black;
}

.enterprise-top-section {
  display: flex;
  justify-content: space-between;
}

.enterprise-left {
  width: 65%;
}

/* Stile "Trova il tuo partner" */

.partner-container {
  display: flex;
}

.container-left {
  width: 60%;
}

.container-left img {
  width: 100%;
}

.container-right {
  width: 40%;
}

/* Stile "Operazioni con Dropbox Business" */

.operations-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc((100% / 3) - 40px);
  margin: 10px 20px;
}

.card img{
  width: 100%;
}

/* Stile "Team che utilizzano Dropbox Business" */

.teams-container {
  display: flex;
  margin-top: 80px;
  /* DEBUG */
  height: 500px;
}

.teams-container > div {
  width: calc(100vw / 3);
}

.teams.left, .teams.right {
  display: flex;
  flex-wrap: wrap;
}

.teams.left > div, .teams.right > div {
  width: calc(100% / 2);
  position: relative;
}

.teams img {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* img a sinistra */

.left > .top-left  {
  background-color: #a2d39b;
}

.left > .top-right {
  background-color: #61082b;
}

.left > .bottom-left {
  background-color: #0093ce;
}

.left > .bottom-right {
  background-color: #ff1c1c;
}

/* img al centro */

.middle {
  background-color: whitesmoke;
}

.designit {
  position: relative;
  height: 200px;
}

.designit-content {
  padding: 0 30px;
}

.middle img {
  width: 35%;
  position: absolute;
  top: 60px;
  left: 120px;
}

/* img a destra */

.right > .top-left  {
  background-color: #d5001f;
}

.right > .top-right  {
  background-color: #b4d0e7;
}

.right > .bottom-left  {
  background-color: #0d2481;
}

.right > .bottom-right  {
  background-color: #ffd830;
}